.Contact-Form-Section {
  background: linear-gradient(to left, var(--midGrey) 45%, white 45%);
  margin: 4rem 0;
}

@media screen and (max-width: 750px) {
  .Contact-Form-Section {
    background: var(--midGrey);
    margin: 0 0 4rem 0;
    padding: 6rem 0 3rem 0 !important;
  }
}
.Contact h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
}
.Contact .one-half {
  width: 50%;
  padding: 0 4rem 0 0;
}

@media screen and (max-width: 750px) {
  .Contact .one-half {
    width: 100%;
    padding: 0;
  }
}

.Contact-Form-flex {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .Contact-Form-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.Contact-Form--Title {
  font-size: 4rem;
}

.Contact-Form--Address {
  margin: 4rem 0;
}

.contactForm {
  max-width: 100%;
}

.Contact-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 600;
  margin: 4rem 0;
}
@media screen and (max-width: 750px) {
  .Contact-link {
    justify-content: center;
  }
}
.Contact-link:hover {
  color: var(--primary);
}
.Contact-link img {
  display: block;
  max-width: 45px;
  max-height: 45px;
  height: auto;
  margin: 0 2rem 0 0;
}

.Contact--Locations--Container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.Contact--Locations--Container .LocationItem--Item {
  margin: 1rem 2rem;
}
