.Home {
}

.WelcomeImage {
  height: calc(100vh - 85px);
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.background-video {
  display: none;
}

@supports (object-fit: cover) {
  .background-video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 85px);
    overflow: hidden;
    z-index: 1;
  }

  .video {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.WelcomeImage--title {
  position: relative;
  color: white;
  height: auto;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  max-width: 800px;
  font-size: 75px;
  font-weight: bold;
  line-height: 82px;
  text-align: center;
  text-shadow: 0 2px 4px 0 rgba(27, 13, 15, 0.33);
  z-index: 2;
}

.WelcomeImage--links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
}
.button-outline.pos-0 {
  color: var(--primary);
}
.button-outline.pos-1 {
  color: white;
}

.HomeLocations {
  background: linear-gradient(to top, var(--midGrey) 70%, white 70%);
}

.PodsGrid {
  background: var(--secondary);
  color: white;
}

.PodsGrid--wrap {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.PodsGrid--pod {
  position: relative;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 4rem;
  width: calc(33.33% - 2rem);
  box-shadow: 0 12px 26px 0 rgba(130, 130, 130, 0.23);
  min-height: 280px;
}
.PodsGrid--pod .button {
  position: relative;
  top: 6rem;
}

.PodsGrid--title {
  position: relative;
  color: white;
  text-transform: uppercase;
  margin: 4rem 0;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
}
.PodsGrid--description {
  position: relative;
  color: white;
  text-transform: uppercase;
  margin: 4rem 0;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  line-height: 1.2;
}

.ServicesSection {
  background: linear-gradient(to right, var(--midGrey) 70%, white 70%);
}
.ServicesSection--wrap {
}
.ServicesSection--info {
  width: 65%;
}

.ServicesSection--title {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}
.ServicesSection--subtitle {
  font-weight: 600;
}

.ServicesSection--banner {
  width: 30%;
  background: url(/images/workout5.png) 0 0 no-repeat;
  background-size: contain;
}

.TrainingPods--wrap {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 4rem 0;
}

.TrainingPods--pod {
  position: relative;
  padding: 4rem;
  width: calc(20% - 2rem);
  box-shadow: 2px 4px 16px 5px rgba(130, 130, 130, 0.23);
  min-height: 280px;
}
.TrainingPods--pod .BackgroundImage {
  background-size: contain;
}

.TestimonialSection {
  position: relative;
  background: var(--secondary);
}
.TestimonialSection--banner {
  position: relative;
}
.TestimonialSection--wrap {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.TestimonialSection--title {
  position: relative;
  color: white;
  text-transform: uppercase;
  margin: 4rem 0;
  font-weight: 600;
  font-size: 4rem;
  width: 30%;
}

.carousel {
  width: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.TestimonialSection--quote {
  width: 50%;
  background: white;
  background-size: 120px;
  border-radius: 1rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  height: 220px;
}
.TestimonialSection--quote svg {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
}
.TestimonialSection--imageWrap {
  position: relative;
  width: 45%;
}
.TestimonialSection--image {
  position: relative;
}
.TestimonialSection--thumbnailWrap {
  position: relative;
  padding: 5rem 4rem;
}
.TestimonialSection--from {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 0 2rem 0;
}
.TestimonialSection--thumbnail {
  position: relative !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  margin: 0 2rem 0 0;
}

.TestimonialSection--testimonial {
  position: relative;
}
