.Locations {
}

.Locations--title {
  text-align: center;
  width: 100%;
  margin: 4rem 0;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.Locations--Grid {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Locations--Grid--Item {
  width: calc(33.33% - 2rem);
  margin: 0 1rem 2rem 1rem;
}

@media screen and (max-width: 750px) {
}
