.SingleLocation {
  background: linear-gradient(to left, var(--midGrey) 40%, white 40%);
  margin: 4rem 0;
}
.SingleLocation .container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.SingleLocation--content {
  width: calc(50% - 4rem);
  position: relative;
  padding: 4rem;
}

.SingleLocation--content--title {
  font-size: 4rem;
  margin: 0;
}

.SingleLocation--thumbnail {
  position: relative;
  width: 50%;
  height: 50%;
}

.AboutCard-odd {
}

.AboutCard-even {
  background: linear-gradient(to right, var(--midGrey) 60%, white 40%);
  margin-bottom: 4rem;
}

.Staff--Menber {
  position: relative;
  width: 33.33%;
  height: 33.33%;
}

.Staff--Menber--name {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 3rem 0;
  background: linear-gradient(to top, black 0%, transparent 100%);
}
