body,
#root,
.React-Wrap {
  position: relative;
  min-height: 100vh;
}

.Nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: var(--secondary);
  color: white;
  opacity: 0.98;
}
.Nav--OuterWrap {
}

/* body.fixed .Nav {
  opacity: 0;
} */

.NavLink--DropDown {
  position: relative;
}

.NavLink--Parent {
  position: relative;
  cursor: default;
}
.NavLink--Parent:hover {
  opacity: 1;
}

.NavLink--Children {
  overflow: hidden;
  max-height: 0;
  width: 200px;
  position: absolute;
  top: 6rem;
  left: 0;
  background: var(--secondary);
  border: 1px solid var(--secondary);
  border-top: none;
  color: white;
  transition: all 0.3s ease-out;
  opacity: 0;
  padding: 0 1rem;
}
.NavLink--Children .NavLink {
  padding: 1rem;
  text-align: left;
  font-size: 1.2rem;
}

.NavLink--Parent:hover .NavLink--Children {
  max-height: 600px;
  width: 200px;
  padding: 0 1rem 1rem 1rem;
  visibility: visible;
  opacity: 1;
}

.Nav--MenuButton {
  display: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  position: absolute;
  right: 20px;
  top: 24px;
}

.Nav--MenuButton:focus {
  outline: none;
}

@media screen and (max-width: 1000px) {
  .Nav--MenuButton {
    display: block;
  }
}
