.NavLink {
  padding: 2.5rem 2rem;
  display: block;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
}

.NavLink:hover,
.NavLink:focus {
  color: var(--primary);
}

.NavLink.active .hover {
  opacity: 1;
}
