.PageHeader {
  line-height: 1em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: var(--secondary);
}

.PageHeader--Title {
  font-size: 13rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  opacity: 0.4;
  text-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
  color: var(--lightGrey);
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .PageHeader--Title {
    font-size: 8rem;
  }
}
@media screen and (max-width: 750px) {
  .PageHeader--Title {
    font-size: 4rem;
  }
}

.PageHeader--Subtitle {
  font-weight: 200;
}
