:root {
  --primary: #ffa4a4;
  --secondary: #1e1e1e;
  --lightGrey: #f1f1f1;
  --midGrey: #f3f3f3;
  --darkGrey: #585858;
  --danger: #ff3d3d;
  --bodyColor: white;
  --font-primary: 'brandon-grotesque', sans-serif;
  --font-secondary: 'proxima-nova', sans-serif;
  --font-system: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --borderRadius: 3px;
  --desktop: 1000px;
  --tablet: 750px;
  --mobile: 500px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: #f8f8f8;
}

body {
  font-family: 'brandon-grotesque', sans-serif;
  font-family: var(--font-primary);
  min-height: 100%;
  position: relative;
  background: white;
  background: var(--bodyColor);
  color: #1e1e1e;
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.4;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #ffa4a4;
  color: var(--primary);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: 400;
  line-height: 1.1;
}

h1 {
  font-family: 'proxima-nova', sans-serif;
  font-family: var(--font-secondary);
  font-weight: 600;
}
h2 {
  font-family: 'proxima-nova', sans-serif;
  font-family: var(--font-secondary);
  margin: 0 0 20px 0;
  margin: 0 0 2rem 0;
  font-weight: 600;
  text-transform: uppercase;
}
h2.large {
  font-size: 40px;
  font-size: 4rem;
}
@media screen and (max-width: 1000px) {
  h2.large {
    font-size: 2.5rem;
  }
}

a {
  text-decoration: none;
}

pre {
  background: #f1f1f1;
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: #f1f1f1;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\A0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}

/* Utility Classes */
.light {
  background-color: #f1f1f1;
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: #ffa4a4;
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

/* Layout */
.AnimatedSwitch {
  position: relative;
}

.AnimatedSwitch > * {
  position: absolute;
  width: 100%;
}

.section {
  width: 100%;
  padding: 50px 0;
  padding: 5rem 0;
}
.section.thick {
  padding: 100px 0;
  padding: 10rem 0;
}
.section.thin {
  padding: 25px 0;
  padding: 2.5rem 0;
}
.section.noPadding {
  padding: 0;
}
@media screen and (max-width: 1000px) {
  .section {
    padding: 5rem 0;
  }
  .section.thick {
    padding: 5rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}
@media screen and (max-width: 750px) {
  .section,
  .section.thick {
    padding: 2.5rem 0;
  }
  .section.thin {
    padding: 1rem 0;
  }
}

.container {
  max-width: 1111px;
  width: 96%;
  margin: 0 auto;
}
.container.larger {
  max-width: 1333px;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}
.container.hidden {
  overflow: hidden;
}

/* CSS Columns */

.twoColumn {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}
.threeColumn {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.square {
  position: relative;
}

.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.square--content {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .twoColumn {
    -webkit-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .threeColumn {
    -webkit-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

/* Flex */

.Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 750px) {
  .Flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.Flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Flex.justifyCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Flex.justifyEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.Flex.justifyBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Flex.justifyAround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.Flex.alignStart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 750px) {
  .Flex.alignStart {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.Flex.alignEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.Flex.alignStretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.Flex.fill {
  height: 100%;
  width: 100%;
}
.Flex.flexWrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* buttons */
.button {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.15em;
  font-size: 13px;
  font-size: 1.3rem;
  display: inline-block;
  border: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: pointer;
  position: relative;
  border-radius: 2rem;
  background: #ff7a8e;
  background: linear-gradient(107.63deg, #ffa4a4 0%, #ffa3a3 0%, #ff7a8e 100%);
  -webkit-box-shadow: 0 1px 1px 0 rgba(130, 130, 130, .23);
          box-shadow: 0 1px 1px 0 rgba(130, 130, 130, .23);
  padding: 10px 30px;
  padding: 1rem 3rem;
}
.button:hover,
.button:focus {
  color: black;
  outline: none;
}
.button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

.button-outline {
  border: currentColor 2px solid;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.15em;
  font-size: 13px;
  font-size: 1.3rem;
  display: inline-block;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: pointer;
  position: relative;
  border-radius: 2rem;
  background: transparent;
  -webkit-box-shadow: 0 1px 1px 0 rgba(130, 130, 130, .23);
          box-shadow: 0 1px 1px 0 rgba(130, 130, 130, .23);
  padding: 10px 30px;
  padding: 1rem 3rem;
  margin: 10px;
  margin: 1rem;
}
.button-outline:hover,
.button-outline:focus {
  color: black;
  background: white;
  outline: none;
}
.button-outline[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

@media screen and (max-width: 750px) {
  .button {
    font-size: 1.3rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .button {
    font-size: 1.2rem;
    padding: 1.5rem;
  }
}

.section-title {
  font-size: 40px;
  font-size: 4rem;
  text-align: center;
}

.flickity-prev-next-button {
  top: calc(100% - 15px);
  border-radius: 0;
  left: auto !important;
  right: 0 !important;
  width: 30px;
  height: 30px;
}
.flickity-prev-next-button.previous {
  right: 30px !important;
}
.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  overflow: hidden;
}

.BackgroundImage-lazy {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="5" /></filter></svg>#filter');
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.BackgroundImage-lazy-loaded {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
  -webkit-filter: blur(0);
          filter: blur(0);
}
.LocationItem--Item {
  position: relative;
  width: calc(33.33% - 2rem);
  text-align: center;
  background: black;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.LocationItem--Item--background {
  opacity: 0.5 !important;
}

.LocationItem--Item--info {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.LocationItem--Item--title {
  font-size: 44.8px;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}
.LocationItem--Item--subtitle {
  font-size: 28.8px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
}
.ServicePod {
  width: calc(50% - 8rem);
  margin: 32px 64px;
  margin: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.ServicePod--Icon {
  margin-right: 32px;
  margin-right: 2rem;
  max-width: 70px;
  max-height: 70px;
  display: block;
}

.Service--Title {
  font-weight: 600;
}

.ServicePod--Description {
}

@media screen and (max-width: 1000px) {
  .ServicePod {
    width: 75%;
    margin: 2rem 0;
    display: block;
  }
  .ServicePod--Icon {
    margin: 0 auto;
  }
}
.Home {
}

.WelcomeImage {
  height: 50vh;
  background: var(--secondary);
  background: var(--secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.WelcomeImage--title {
  position: relative;
  color: white;
  height: auto;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  max-width: 800px;
  font-size: 75px;
  font-weight: bold;
  line-height: 82px;
  text-align: center;
  text-shadow: 0 2px 4px 0 rgba(27, 13, 15, .33);
}

.WelcomeImage--links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.button-outline.pos-0 {
  color: var(--primary);
  color: var(--primary);
}
.button-outline.pos-1 {
  color: white;
}

.HomeLocations {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, var(--midGrey)), color-stop(70%, white));
  background: linear-gradient(to top, var(--midGrey) 70%, white 70%);
  background: linear-gradient(to top, var(--midGrey) 70%, white 70%);
}

.PodsGrid--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.PodsGrid--pod {
  position: relative;
  background: var(--secondary);
  background: var(--secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 64px;
  padding: 4rem;
  width: calc(33.33% - 2rem);
  -webkit-box-shadow: 0 12px 26px 0 rgba(130, 130, 130, .23);
          box-shadow: 0 12px 26px 0 rgba(130, 130, 130, .23);
}
.PodsGrid--title {
  position: relative;
  color: white;
  text-transform: uppercase;
  margin: 64px 0;
  margin: 4rem 0;
  font-weight: 600;
  font-size: 64px;
  font-size: 4rem;
  text-align: center;
}
.PodsGrid--description {
  position: relative;
  color: white;
  text-transform: uppercase;
  margin: 64px 0;
  margin: 4rem 0;
  font-weight: 600;
  font-size: 32px;
  font-size: 2rem;
  text-align: center;
  line-height: 1.2;
}

.ServicesSection {
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, var(--midGrey)), color-stop(70%, white));
  background: linear-gradient(to right, var(--midGrey) 70%, white 70%);
  background: linear-gradient(to right, var(--midGrey) 70%, white 70%);
}
.ServicesSection--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ServicesSection--info {
  width: 65%;
}

.ServicesSection--title {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  font-size: 3rem;
}
.ServicesSection--subtitle {
  font-weight: 600;
}

.ServicesSection--banner {
  width: 30%;
  background: url(/images/workout5.png) 0 0 no-repeat;
  background-size: contain;
}

.TestimonialSection {
  position: relative;
  background: var(--secondary);
  background: var(--secondary);
}
.TestimonialSection--banner {
  position: relative;
}
.TestimonialSection--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.TestimonialSection--title {
  position: relative;
  color: white;
  text-transform: uppercase;
  margin: 64px 0;
  margin: 4rem 0;
  font-weight: 600;
  font-size: 64px;
  font-size: 4rem;
  width: 30%;
}
.TestimonialSection--quote {
  width: 50%;
  background: white url(/images/quote.svg) 101% 0 no-repeat;
  background-size: 120px;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .4);
          box-shadow: 0 4px 20px rgba(0, 0, 0, .4);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.TestimonialSection--imageWrap {
  position: relative;
  width: 45%;
}
.TestimonialSection--image {
  position: relative;
}
.TestimonialSection--thumbnailWrap {
  position: relative;
  padding: 80px 64px;
  padding: 5rem 4rem;
}
.TestimonialSection--from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 0 0 32px 0;
  margin: 0 0 2rem 0;
}
.TestimonialSection--thumbnail {
  position: relative !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 32px 0 0;
  margin: 0 2rem 0 0;
}

.TestimonialSection--testimonial {
  position: relative;
}
.PageHeader {
  line-height: 1em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: var(--secondary);
  background: var(--secondary);
}

.PageHeader--Title {
  font-size: 192px;
  font-size: 12rem;
  font-weight: 400;
  letter-spacing: 1.6px;
  letter-spacing: 0.1rem;
  opacity: 0.4;
  text-shadow: 0 0 60px 0 rgba(0, 0, 0, .5);
  color: var(--lightGrey);
  color: var(--lightGrey);
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .PageHeader--Title {
    font-size: 8rem;
  }
}
@media screen and (max-width: 750px) {
  .PageHeader--Title {
    font-size: 4rem;
  }
}

.PageHeader--Subtitle {
  font-weight: 200;
}
.Content {
  white-space: pre-line;
}

.Content--Image {
  max-width: 100%;
  height: auto;
}

.Content--Iframe {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 32px 0;
  margin: 2rem 0;
}
.Content--Iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.Accordion {
  width: 100%;
  max-width: 600px;
}

.Accordion--item {
  padding: 16px;
  padding: 1rem;
  background: white;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  padding: 24px;
  padding: 1.5rem;
}

.Accordion--item h2 {
  cursor: pointer;
  font-weight: 600;
  font-size: 25.6px;
  font-size: 1.6rem;
  display: block;
  margin: 0;
  padding: 16px;
  padding: 1rem;
}

.Accordion--item h2:after {
  content: '+';
  float: right;
  font-size: 64px;
  font-size: 4rem;
  color: var(--midGrey);
  color: var(--midGrey);
  line-height: 1;
  font-weight: 300;
  position: relative;
  top: -16px;
  top: -1rem;
}

.Accordion--item.active h2 {
  color: var(--primary);
  color: var(--primary);
}
.Accordion--item.active h2:after {
  content: '-';
  float: right;
  font-size: 64px;
  font-size: 4rem;
  color: var(--darkGrey);
  color: var(--darkGrey);
  line-height: 1;
  font-weight: 300;
  top: -24px;
  top: -1.5rem;
}

.Accordion--item.active .description:before {
  content: '';
  background: var(--primary);
  background: var(--primary);
  height: 2px;
  width: 33.33%;
  display: block;
  margin: 16px 0;
  margin: 1rem 0;
}

.Accordion--item.active .description {
  -webkit-animation: sildeDescription 0.4s ease-out;
          animation: sildeDescription 0.4s ease-out;
  padding: 0px 16px 16px 16px;
  padding: 0rem 1rem 1rem 1rem;
}

@-webkit-keyframes sildeDescription {
  from {
    opacity: 0;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes sildeDescription {
  from {
    opacity: 0;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.AboutCard-odd {
  background: -webkit-gradient(linear, right top, left top, color-stop(60%, var(--midGrey)), color-stop(40%, white));
  background: linear-gradient(to left, var(--midGrey) 60%, white 40%);
  background: linear-gradient(to left, var(--midGrey) 60%, white 40%);
  margin-bottom: 64px;
  margin-bottom: 4rem;
}

.AboutCard-even {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, var(--midGrey)), color-stop(40%, white));
  background: linear-gradient(to right, var(--midGrey) 60%, white 40%);
  background: linear-gradient(to right, var(--midGrey) 60%, white 40%);
  margin-bottom: 64px;
  margin-bottom: 4rem;
}

.AboutCard--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 0;
  padding: 4rem 0;
}

.AboutCard-even .AboutCard--container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.AboutCard--image {
  width: 55%;
  min-height: 450px;
  position: relative;
}

.AboutCard--content {
  width: 45%;
  padding: 64px;
  padding: 4rem;
}

.AboutCard--content-title {
  text-transform: uppercase;
  font-weight: 600;
}
.AboutCard--content--single {
  padding: 64px;
  padding: 4rem;
  background: white;
}
.NavLink {
  padding: 40px 32px;
  padding: 2.5rem 2rem;
  display: block;
  font-weight: 600;
  letter-spacing: 1.6px;
  letter-spacing: 0.1rem;
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
}

.NavLink:hover,
.NavLink:focus {
  color: var(--primary);
  color: var(--primary);
}

.NavLink.active .hover {
  opacity: 1;
}
.About {
}

.welcome--info {
  padding: 64px;
  padding: 4rem;
  width: 55%;
}

.welcome--image {
  width: 45%;
  height: 550px;
  position: relative;
}

.welcome-title {
  font-size: 64px;
  font-size: 4rem;
  margin: 0 0 32px 0;
  margin: 0 0 2rem 0;
  font-weight: 600;
  text-transform: uppercase;
}

.welcome--info blockquote {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.welcome--info blockquote p {
  margin: 0 0 24px 0;
  margin: 0 0 1.5rem 0;
}

@media screen and (max-width: 750px) {
  .welcome--image {
    width: 100%;
    height: 350px;
    position: relative;
  }
  .welcome--info blockquote {
    font-size: 2rem;
  }
}

.workoutTitle h2 {
  width: 80%;
  font-size: 64px;
  font-size: 4rem;
  margin: 0 auto 32px auto;
  margin: 0 auto 2rem auto;
  font-weight: 600;
  text-transform: uppercase;
}

.AboutButtons--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.AboutButtons--links .button {
  margin: 0 16px;
  margin: 0 1rem;
}
.Locations {
}

.Locations--title {
  text-align: center;
  width: 100%;
  margin: 64px 0;
  margin: 4rem 0;
  font-size: 44.8px;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.Locations--Grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.GoogleMap {
  height: 800px;
  height: 50rem;
}
@media screen and (max-width: 750px) {
  .GoogleMap {
    height: 40rem;
  }
}
@media screen and (max-width: 500px) {
  .GoogleMap {
    height: 30rem;
  }
}

.SingleLocation {
  background: -webkit-gradient(linear, right top, left top, color-stop(40%, var(--midGrey)), color-stop(40%, white));
  background: linear-gradient(to left, var(--midGrey) 40%, white 40%);
  background: linear-gradient(to left, var(--midGrey) 40%, white 40%);
  margin: 64px 0;
  margin: 4rem 0;
}
.SingleLocation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.SingleLocation--content {
  width: calc(50% - 4rem);
  position: relative;
  padding: 64px;
  padding: 4rem;
}

.SingleLocation--content--title {
  font-size: 64px;
  font-size: 4rem;
  margin: 0;
}

.SingleLocation--thumbnail {
  position: relative;
  width: 50%;
  height: 50%;
}

.Social--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 80px 0 16px 0;
  margin: 5rem 0 1rem 0;
}

.Social--container img {
  max-width: 15px;
  max-height: 15px;
  height: auto;
  margin: 0 16px;
  margin: 0 1rem;
}

.Links--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.Links-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--secondary);
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 600;
}
.Links-link:hover {
  color: var(--primary);
  color: var(--primary);
}
.Links-link img {
  max-width: 45px;
  max-height: 45px;
  height: auto;
  margin: 0 16px;
  margin: 0 1rem;
}

.Staff--wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Staff--Menber {
  position: relative;
  width: calc(33.33% - 2rem);
  height: calc(33.33% - 2rem);
  margin: 0 32px;
  margin: 0 2rem;
  max-width: 400px;
}

.Staff--Menber--name {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 48px 0;
  padding: 3rem 0;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background: linear-gradient(to top, black 0%, transparent 100%);
}

.BannerSection--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.BannerSection--container .one-half {
  width: 50%;
  position: relative;
  padding: 160px 80px;
  padding: 10rem 5rem;
}

.BannerSection--Subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 90%;
}
.BannerSection--Content {
  margin: 32px 0;
  margin: 2rem 0;
}

.BannerSection .button {
  margin: 16px 32px 16px 0;
  margin: 1rem 2rem 1rem 0;
}
.EnquiryForm {
  width: 100%;
  margin: 64px 0;
  margin: 4rem 0;
}

.EnquiryForm > * + * {
  margin-top: 24px;
  margin-top: 1.5rem;
}

.EnquiryForm--Label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 16px 0;
  margin: 1rem 0;
  background: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .15) !important;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .15) !important;
}

.Flex > .EnquiryForm--Label {
  width: 49%;
}
@media screen and (max-width: 750px) {
  .EnquiryForm {
    max-width: 500px;
    margin: 2rem auto;
  }
  .Flex > .EnquiryForm--Label {
    width: 100%;
  }
}

.EnquiryForm--Input {
  font-family: inherit;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin: 0;
  border: none;
  padding: 12px 8px;
  padding: 0.75rem 0.5rem;
  line-height: 1;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  resize: none;
  background: transparent;
}

.EnquiryForm--Select {
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.EnquiryForm--Label.has-arrow:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 50%;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 10px;
  width: 10px;
  -webkit-transform: translateY(-75%) rotate(45deg);
          transform: translateY(-75%) rotate(45deg);
  pointer-events: none;
}

.EnquiryForm--Input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.EnquiryForm--Input:focus {
  outline: none;
  border-color: black;
}

.EnquiryForm--Input[disabled],
.EnquiryForm--Submitbutton[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

.EnquiryForm--Input::-webkit-input-placeholder {
  text-transform: none;
}

.EnquiryForm--Input:-ms-input-placeholder {
  text-transform: none;
}

.EnquiryForm--Input::-ms-input-placeholder {
  text-transform: none;
}

.EnquiryForm--Input::placeholder {
  text-transform: none;
}

.EnquiryForm--Alert {
  background: var(--primary);
  background: var(--primary);
  width: 100%;
  text-align: center;
  padding: 32px;
  padding: 2rem;
}
.Contact-Form-Section {
  background: -webkit-gradient(linear, right top, left top, color-stop(45%, var(--midGrey)), color-stop(45%, white));
  background: linear-gradient(to left, var(--midGrey) 45%, white 45%);
  background: linear-gradient(to left, var(--midGrey) 45%, white 45%);
  margin: 64px 0;
  margin: 4rem 0;
}
.Contact h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4.8px;
  letter-spacing: 0.3rem;
}
.Contact .one-half {
  width: 50%;
  padding: 0 64px 0 0;
  padding: 0 4rem 0 0;
}

.Contact-Form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Contact-Form--Title {
  font-size: 64px;
  font-size: 4rem;
}

.Contact-Form--Address {
  margin: 64px 0;
  margin: 4rem 0;
}

.contactForm {
  max-width: 100%;
}

.Contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: var(--secondary);
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 600;
  margin: 64px 0;
  margin: 4rem 0;
}
.Contact-link:hover {
  color: var(--primary);
  color: var(--primary);
}
.Contact-link img {
  display: block;
  max-width: 45px;
  max-height: 45px;
  height: auto;
  margin: 0 32px 0 0;
  margin: 0 2rem 0 0;
}

.Contact--Locations--Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Contact--Locations--Container .LocationItem--Item {
  margin: 16px 32px;
  margin: 1rem 2rem;
}
.Iframe {
}
.FAQ {
  background: var(--lightGrey);
  background: var(--lightGrey);
}

.FAQ .Accordion {
  margin: 64px auto;
  margin: 4rem auto;
}
